/* Importing font... */
@font-face {
    font-family: "cgfont";
    src: url("/CenturyGothic.ttf");
}
/* Generalities */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: cgfont;        
}
.merch-name{
    display: none;
}
body{
    background-color: black;
    color: white;
}
main{
    margin: 0 10% 0 10%;
}
header{
    height:80vh;
}
footer{
    margin-top: 1em;
    padding: 2em;
}
h1{
    padding: 0.5em;
}
.about-main .section-header{
padding-top: 1.5em;
}
.about-text{
    padding: 1em;
}
.section-header{
    color:#901E37;
}
/* Gestalt closure bckgrclr */

header,.about-text,.member,.album,.event,.merchandise,.media,footer{
    background-color: rgba(255,255,255,0.1);    
}

/* Image formatting */
.profileImg{
    filter: grayscale(100%);
}
.mobile-header{
width: 70%;
margin: auto;
}

.about-img{
    width: 100%;
    height: auto;
}
.social-media img{
    height: 2em;
}
.merchImg{
    width: 100%;
}
.mediaImg, .media video{
    width: 100%;
}
.albumImg{
    width: 100%;
}
/* Text formatting */
h1{
    font-size: 1.5em;
    text-align: center;
}
.name, .age, .role, .nationality, .date, .location{
    text-align: center;
}
.about-text,.name{
    margin-top: 1em;
}

/* Navigation */
.burger-menu{
    text-align: center;
    font-size:36px;
    cursor:pointer;
    margin:auto;
}
@media (max-width:480px){
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
    background-color: black;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    display: block;
    transition: 0.3s;
}
}
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

a, a:visited{
    text-decoration: none;
    text-align: center;
    color: white;    
    cursor: pointer;
}
a:hover, a:active{
    color: #901E37;
}

/* Layout */
body{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "logo burger"
    "main main"
    "footer footer"; 
}

.burger-menu{
    grid-area: burger;
}

.logo{
    grid-area: logo;
}

#main{
    grid-area: main;
}

#contact{
    grid-area: footer;
}

header{
    display:grid;
    grid-template-rows: 3fr 1fr;
    align-items: center;
    justify-items: center;
}
footer{
    display: grid;
    justify-items: center;
    grid-gap:1em;
}

.member{
    display: grid;
    padding: 1em;
    justify-items: center;
    margin-top:5%;   
}
.album{
    display: grid;
    justify-items: center;
    padding: 1em;
    margin-top:5%;   
}
.album-description{
    margin-top:5%;
}
.event{
    display: grid;
    justify-items: center;
    padding: 1em;
    grid-gap: 1em;
    margin-top: 5%;
}
.merchandise{
    display: grid;
    justify-items: center;
    grid-gap:1em;
    padding: 1em; 
    margin-top:5%;   
}
.media{
    display: grid;
    padding: 1em;       
}
.contact-info{
    display: grid; 
    justify-items: center;
    grid-gap:0.5em;
}
.social-media{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap:0.5em;
}

/* SVG */
.logo svg{
height: 100px;
width: 80px;
margin: auto;
}
@media (min-width: 480px){
    body{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "nav nav"
        "main main"
        "footer footer"; 
    }
    .sidenav{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    align-items: center;
    background-color: black;

    grid-area: nav;
    
    margin: 0;
    padding: 0;
    width:100%;
    height: auto;
    position: static;
}
a.logo{
    grid-area:auto;
}
header{
    height: 85vh;
}
.burger-menu{
    display: none;
}
a.closebtn{
    display: none;
}
#member-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0.5em;
}
.album{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:1fr 1fr 1fr 4fr;
    grid-template-areas: 
    "aImg aTitle"
    "aImg rDate"
    "aImg noofSongs"
    "aImg aDescr";
}
.albumImg{
    grid-area: aImg;
}
.album-title{
    grid-area: aTitle;
}
.album-description{
    grid-area:aDescr;

    padding: 1em;
    text-align: center;
}
.release-date{
    grid-area:rDate;
}
.no-of-songs{
    grid-area: noofSongs;
}
.event-main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
}
.event-main .section-header{
    grid-column: 1/4;
}
.media-main{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
}
.media-main .section-header{
    grid-column: 1/4;
}
.media{
    display: grid;
    justify-items: center;
    align-items: center;
}
.merch-main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;    
}
.merch-main .section-header{
    grid-column: 1/4;
}

h1{
    font-size: 2em;
}
.desktop-header{
    width: 80%;
}
img.go-up{
    width: 4em;
}
img.go-up:hover{
    transform: scale(1.5);
}
}
img.go-up{
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 3em;
    right:0.5em;
    cursor: pointer;
    width: 3em;
}